<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Evlin lets you take a photo to show your parent you finished a task.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Evlin connects to a development backend on your local network while testing on a real device.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Manrope-Variable.ttf</string>
		<string>Inter-Variable.ttf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-Medium.ttf</string>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>PlusJakartaSans-ExtraBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>SENTRY_DSN</key>
	<string>https://a23e10f9fc3690c80dae5e8de5f36d25@o4511508522270720.ingest.us.sentry.io/4511508813709312</string>
	<key>SENTRY_ENVIRONMENT</key>
	<string>development</string>
	<key>GIDClientID</key>
	<string>287494540401-kri4qi5bnk2nvf466iskhj7s20darnk8.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.287494540401-kri4qi5bnk2nvf466iskhj7s20darnk8</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
